@import 'bootstrap';

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.news {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.news-item {
  width: 45%;
}